/** GLOBAL VARS **/
:root {

  /** neutral **/
  --color-neutral-100: #EBE9E7;
  --color-neutral-300: #BCBAB9;
  --color-neutral-400: #A4A3A2;
  --color-neutral-600: #767574;
  --color-neutral-700: #5E5D5C;

  /** blue **/
  --color-blue-100: #E8E8FF;
  --color-blue-200: #D2D1FF;
  --color-blue-600: #7977D8;
  --color-blue-700: #6362B2;
  --color-blue-800: #555498;

  /** grayscale **/
  --color-grey-100: #dbdbdb;
  --color-white: #ffffff;

  /** typography **/
  --font-family-primary: 'DM Sans', sans-serif;
  --font-family-reading: 'DM Sans', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --letter-spacing-base: -0.04em;

  /** grid **/
  --grid-base: 4px;
  --drop-shadow-light: 8px 16px 56px rgba(0, 0, 0, 0.1);
  --border-radius-base: 8px;
}
