/** GLOBAL VARS **/
:root {
  --main-background-color: #f4f3ea;
  --color-neutral-100: #EBE9E7;
  --color-neutral-400: #A4A3A2;
  --color-neutral-600: #767574;
  --color-blue-100: #E8E8FF;
  --color-blue-200: #D2D1FF;
  --color-blue-600: #7977D8;

  --color-blue: #006AE7;
  --color-blue-opaque: rgba(6,93,224,0.8);
  --color-light-blue: #93AECE;
  --color-very-light-blue: #EEF5FE;
  --color-sky-blue: #DAE7FA;
  --color-dark-blue: #0E4A92;
  --color-darkest-blue: #002550;
  --color-grey-blue: #6E87A6;
  --color-light-grey-blue: #ABB8C8;
  --color-grey: #666666;
  --color-light-grey: #999999;
  --color-very-light-grey: #dbdbdb;
  --color-yellow: #E4A20B;
  --color-yellow-opaque: #fdf6e5;
  --color-off-white: #F0F3F5;
  --color-black: #000000;
  --color-green: #429C3B;
  --color-green-light: #CCE0D8;
  --color-green-opaque: #ebf9f3;
  --color-blue-hover: #0068E2;
  --color-orange: #E16A14;
  --color-red: #BE3614;
  --color-red-opaque: #f9ebe7;
  --color-grey-opaque: #f0f0f0;
  --color-white: #ffffff;
  --font-family-primary: 'DM Sans', sans-serif;
  --font-family-reading: 'DM Sans', sans-serif;
  --pane-padding-mobile: 40px 20px;
  --pane-padding-desktop: 65px 80px 80px;
  --drop-shadow-light: 8px 16px 56px rgba(0, 0, 0, 0.1);
  --grid-base: 4px;
  --border-radius-base: 5px;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --letter-spacing-base: -0.04em;
  --color-primary: #c987fb;
  --color-secondary: #c987fb;
  --color-tertiary: #c987fb;
<<<<<<< HEAD
}
=======
}
>>>>>>> 702a3e1d4586652259e3c66fcdb9ffb94703d382
